@import './assets/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* OHIF Theme */

@layer base {
  :root {
    --highlight: 38 92% 50%;
    --background: 214 17% 8%;
    --foreground: 214 32% 91%;
    --card: 215 19% 13%;
    --card-foreground: 214 32% 91%;
    --popover: 215 18% 19%;
    --popover-foreground: 214 32% 91%;
    --primary: 198 93% 60%;
    --primary-foreground: 214 17% 8%;
    --secondary: 215 18% 19%;
    --secondary-foreground: 214 32% 91%;
    --muted: 215 19% 13%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 18% 23%;
    --accent-foreground: 214 32% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 18% 19%;
    --input: 215 18% 19%;
    --ring: 198 93% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --success-bg: hsl(143, 85%, 96%);
    --success-border: hsl(145, 92%, 91%);
    --success-text: hsl(140, 100%, 27%);

    --info-bg: hsl(208, 100%, 97%);
    --info-border: hsl(221, 91%, 91%);
    --info-text: hsl(210, 92%, 45%);

    --warning-bg: hsl(49, 100%, 97%);
    --warning-border: hsl(49, 91%, 91%);
    --warning-text: hsl(31, 92%, 45%);

    --error-bg: hsl(359, 100%, 97%);
    --error-border: hsl(359, 100%, 94%);
    --error-text: hsl(360, 100%, 45%);
  }

  .dark {
    --background: 214 17% 8%;
    --foreground: 214 32% 91%;
    --card: 215 19% 13%;
    --card-foreground: 214 32% 91%;
    --popover: 215 18% 19%;
    --popover-foreground: 214 32% 91%;
    --primary: 198 93% 60%;
    --primary-foreground: 214 17% 8%;
    --secondary: 215 18% 19%;
    --secondary-foreground: 214 32% 91%;
    --muted: 215 19% 13%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 18% 23%;
    --accent-foreground: 214 32% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 18% 19%;
    --input: 215 18% 19%;
    --ring: 198 93% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* ORIGINAL THEME for comparison and testing

@layer base {
  :root {
    --background: 214 17% 8%;
    --foreground: 214 32% 91%;
    --card: 215 19% 13%;
    --card-foreground: 214 32% 91%;
    --popover: 215 18% 19%;
    --popover-foreground: 214 32% 91%;
    --primary: 198 93% 60%;
    --primary-foreground: 214 17% 8%;
    --secondary: 215 18% 19%;
    --secondary-foreground: 214 32% 91%;
    --muted: 215 19% 13%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 18% 23%;
    --accent-foreground: 214 32% 91%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 18% 19%;
    --input: 215 18% 19%;
    --ring: 198 93% 60%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }


  .dark {
    --background: 214 17% 8%;
    --foreground: 214 32% 91%;
    --card: 215 19% 13%;
    --card-foreground: 214 32% 91%;
    --popover: 215 18% 19%;
    --popover-foreground: 214 32% 91%;
    --primary: 198 93% 60%;
    --primary-foreground: 214 17% 8%;
    --secondary: 215 18% 19%;
    --secondary-foreground: 214 32% 91%;
    --muted: 215 19% 13%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 18% 23%;
    --accent-foreground: 214 32% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215 18% 19%;
    --input: 215 18% 19%;
    --ring: 198 93% 60%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

*/

/* Theme Copy Example

@layer base {
  :root {
    --background: 214 17% 8%;
    --foreground: 214 32% 91%;
    --card: 215 19% 13%;
    --card-foreground: 214 32% 91%;
    --popover: 215 18% 19%;
    --popover-foreground: 214 32% 91%;
    --primary: 198 93% 60%;
    --primary-foreground: 214 17% 8%;
    --secondary: 215 18% 19%;
    --secondary-foreground: 214 32% 91%;
    --muted: 215 19% 13%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 18% 23%;
    --accent-foreground: 214 32% 91%;
    --destructive: 360 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 18% 19%;
    --input: 215 18% 19%;
    --ring: 198 93% 60%;
    --radius: 0.5rem;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }

  .dark {
    --background: 214 17% 8%;
    --foreground: 214 32% 91%;
    --card: 215 19% 13%;
    --card-foreground: 214 32% 91%;
    --popover: 215 18% 19%;
    --popover-foreground: 214 32% 91%;
    --primary: 198 93% 60%;
    --primary-foreground: 214 17% 8%;
    --secondary: 215 18% 19%;
    --secondary-foreground: 214 32% 91%;
    --muted: 215 19% 13%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 18% 23%;
    --accent-foreground: 214 32% 91%;
    --destructive: 360 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 18% 19%;
    --input: 215 18% 19%;
    --ring: 198 93% 60%;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }
}

*/

/* Updated Playground page styles */

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply !bg-black;
  }
}

h2.section-header {
  @apply py-4 text-2xl font-normal text-white;
}

h3.section-header {
  @apply py-3 text-xl text-white;
}

.row {
  @apply mb-6 flex flex-row flex-wrap rounded-md border py-10;
}

.example {
  @apply flex-initial px-6;
}

.example2 {
  @apply flex-initial px-4;
}

/* Additional CSS edits to components */

/* Tooltip */

.TooltipContent[data-side='bottom'] {
  animation-name: slideDown;
}

/* Custom CSS to hide default number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply appearance-none;
}

input[type='number'] {
  -moz-appearance: textfield; /* For Firefox */
}
